body {
  background-image: url('../../../assets/ImagenMundo.png');
  display: block;
  background-size: cover;       /* La imagen cubre toda la pantalla */
  background-repeat: no-repeat; /* Evita que se repita */
  background-position: center;  /* Centra la imagen */
  background-attachment: fixed; /* Mantiene el fondo fijo al hacer scroll */
  height: 100vh;                /* Asegura que ocupe toda la altura */
  margin: 0;
}

.titulo {
  margin-top: 2rem;
  margin-left: 2rem;
}